.tree
    background-image: url('../img/trees.jpg')
    min-height: 450px
    background-repeat: no-repeat
    background-size: cover
    background-position: top center
.footer
    background-color: #1a1a1a
    .copy
        padding: 14px 0
        font-size: 13px
        color: #fff
        margin: 0 auto
        text-align: center