.hero
    padding: 158px 0
    min-height: calc(100vh - 106px)
    padding-bottom: 60px
    height: 100%
    min-height: 100vh
    background-image: url('../img/herobg.jpg')
    background-repeat: no-repeat
    background-size: cover 
    background-position: center bottom
    &__container
        padding-bottom: 50px
    &__title
        margin-bottom: 19px
    &__block
        max-width: 678px
        margin-bottom: 240px
        &::before
            content: ""
            top: -43px
            pointer-events: none
            left: 50%
            transform: translateX(-50%)
            position: absolute
            display: block
            width: 55%
            height: 40px
            border-top: 4px solid rgba(255, 255, 255, 0.3)
            border-right: 4px solid rgba(255, 255, 255, 0.3)
            border-left: 4px solid rgba(255, 255, 255, 0.3)
        &::after
            content: ""
            pointer-events: none
            bottom: 0px
            left: 50%
            transform: translate(-50%, 55%)
            position: absolute
            display: block
            width: 55%
            height: 94px
            border-bottom: 4px solid rgba(255, 255, 255, 0.3)
            border-right: 4px solid rgba(255, 255, 255, 0.3)
            border-left: 4px solid rgba(255, 255, 255, 0.3)
    &__bottom
        margin: 0 auto
        max-width: 325px
        text-align: center

    &__text
        font-style: italic
        max-width: 627px
        margin-bottom: 28px
    &__btn
        display: inline-block
    &__ti
        max-width: 300px
        letter-spacing: 1px
        margin-bottom: 20px
    &__desc
        display: block
        color: rgb(51, 51, 51) !important
        font-style: italic
        margin-bottom: 29px
    &__scroll
        display: block
        position: relative
        width: 18px
        height: 20px
        margin: 0 auto
        transition: .3s all linear
        z-index: 0
        animation: scroll .4s infinite alternate linear
        img
            width: 100%
            height: 100%
            object-fit: cover 
        &:hover
            transform: scale(1.2)
@keyframes scroll
    from
        top: -10px
    to
        top: 0
@media screen and ( max-width:689px)
    .hero
        &__block::before, &__block::after
            width: 80%
        &__title
            font-size: 50px
        &__text
            font-size: 14px !important
        &__ti
            font-size: 30px