.prepare
    &__container
        border-bottom: 1px solid #dfe3e6
    &__title
        margin-bottom: 7px
    &__subtitle
        font-style: italic
        color: #333333
        margin-bottom: 26px
    &__image
        overflow: hidden
        img
            width: 100%
        &::before
            opacity: 0
            transition: .3s all linear
            content: url('../img/tringle.png')
            position: absolute
            top: 0
            left: 0
            z-index: 2
        &::after
            opacity: 0
            width: 60px
            display: block
            height: 100%
            transition: .3s all linear
            position: absolute
            bottom: 0px
            z-index: 1
            content:  ""
            left: 0
            background-repeat: no-repeat
            background-size: cover
            background-image: url("../img/bike2.png")
    &__card
        padding: 0
        transition: .3s all linear
        &:hover
            background-color: #fff
            .prepare__image:before, .prepare__image:after
                opacity: 1
    &__desc
        padding: 20px 
    &__text
        font-size: 13px
        color: #999999
        margin-bottom: 16px
        min-height: 6rem
        height: 100%
    &__price
        font-size: 24px
        line-height: 0.9
        color: rgb(0, 153, 255) !important
    &__link
        text-decoration: none
        margin-right: 16px
        line-height: 0.8
        &:hover
            text-decoration: underline
        &::after
            content: url("../img/more2.png")
            margin-left: 5px
            width: 11px
            height: 11px
            vertical-align: middle
@media screen and ( max-width: 426px )
    .prepare
        &__price
            font-size: 14px
        &__link
            font-size: 14px