@import './bootstrap.min.css'
*
    margin: 0
    padding: 0
    box-sizing: border-box
button.btn-outline-primary
    color: rgb(0, 153, 255) !important   
    border-color: rgb(0, 153, 255) !important  
html,body
    scroll-behavior: smooth
html
    font-size: 1px
body
    font-size: 14rem
    font-family: "Rubik", sans-serif
.container
    padding: 0 30rem
    padding-bottom: 72rem
    padding-top: 72rem
    max-width: 1234rem
.text
    font-size: 16rem
    color: #fff
section
    background-color: #f5f8fa
.logo
    display: block
    width: 122rem
    height: 42rem
    img
        width: 100%
        height: 100%
        object-fit: cover
button.btn
    display: inline-block
    font-size: 16rem
    color: #fff
    border-radius: 25rem
    text-transform: uppercase
    padding: 9.5rem 30.5rem
    transition: .3s all linear
    margin-right: 10rem
    &:hover
        background-color: transparent
        transform: scale(1.1)
@import './header.sass'
@import './hero.sass'
@import './plans.sass'
@import './tour.sass'
@import './answer.sass'
@import './prepare.sass'
@import './info.sass'