section.hero 
    .container.hero__container 
        .hero__block 
            h1.hero__title Морські пригоди
            p.text.hero__text Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
            button.btn.btn-warning.text.hero__btn(type="button") детальніше
        .hero__bottom 
            p.hero__ti обери свій план подорожі
            p.text.hero__desc Наша фірма -лідер на ринку у своїй сфері
            a.hero__scroll(href="#plans")
                img(src="img/scrolldown.png", alt="Морські пригоди") 