doctype html
html(lang="uk")
    include head.pug
    +head("Морські пригоди-веселий спосіб провести свій час")
    body
        include header.pug
        main
            include hero.pug
            include plans.pug
            include tour.pug
            include answer.pug
            include prepare.pug
    script(src="js/scripts.js") 