doctype html
html(lang="uk")
    include componets/head.pug
    +head("Морські пригоди-веселий спосіб провести свій час")
    body
        include componets/mixins.pug
        include componets/header.pug
        main
            include componets/hero.pug
            include componets/plans.pug
            include componets/tour.pug
            include componets/answer.pug
            include componets/prepare.pug
            include componets/info.pug
        include componets/footer.pug
    script(src="js/scripts.js") 