section.tour 
    .container.tour__container 
        .tour__image 
            img(src="img/tour.jpg", alt="Дивовижний безлюдний острів, який зводить людей з розуму")
        .tour__block 
            p.tour__title Дивовижний безлюдний острів, який зводить людей з розуму
            .tour__desc 
                .tour__item 
                    p.text.tour__text Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                    button(type="button").btn.btn-warning замовити тур
                    button(type="button").btn.btn-outline-primary.text-primary Primary
                .tour__price 
                    span.text-primary.tour__p 575 грн./день
                    p.text.tour__t В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
