section.answer 
    .container.answer__container 
        .row.g-4.align-items-start       
            .answer__desc.col-12.col-lg-7
                p.answer__title.text-white.text-uppercase СПІЙМАЙ ХВИЛЮ
                    span.text-primary.d-block ЖИВИ ЯСКРАВО!
                p.text.answer__text.fs-6 Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                button(type="button").btn.btn-warning.text-white.text-uppercase.mx-auto.mx-lg-0 замовити тур
            .answer__block.position-relative.text-center.col-12.col-lg-5
                p.answer__t.text-white.text-start.position-relative Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи.
                p.answer__name.text-center.text-white.fs-6 Олег Набережний
                p.answer__role клієнт
                .answer__avatar.position-absolute
                    img(src="img/avatar.png", alt="Олег Набережний")