section.plans#plans
    .container.plans__container 
        div
            .plans__about
                p.plans__title про нашу компанію
                p.text.plans__text Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                button(type="button").btn.plans__btn.btn-warning детальніше
                p.text.plans__warn * - зверніть увагу, зміна ціни може залежати від курсу долара.
            +plansCart(planss)
            a.plans__link(href="#") 
                span дивитись усі плани
        